* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    color: #fff;
}

.nav {
    background-color: black;
    padding: 40px;
}

ul li{
    float: right;
    margin-bottom: 40px;
}


ul li a{
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: left;
    margin-left: 10px;
}

.banner{
    background-image: url("./../images/banner.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.btn-expore{
   color: white;
   text-decoration: none;
   border: none;
   padding: 10px;
   background-color: rgb(177, 177, 177);
   border-radius: 5px;
   width: 120px;
   border: 2px solid white;
}


.buttons{
    position: relative;
    left: 50%;
    top: 40%;
}

button{
    cursor: pointer;
}

button:hover{
    color: white;
    text-decoration: none;
    border: none;
    padding: 10px;
    background-color: rgb(247, 107, 107);
    border-radius: 5px;
    width: 120px;
}

.cards{
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0px 0px 12px 28px;
}

.card-1,.card-2,.card-3{
    background-color: #d0cfcf;
    padding: 30px;
    margin-left: 10px;
    box-shadow: 3px 5px gray;
    font-style: italic;   
}